@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --total-height: 100vh;
    --color: #fff;
    --background: #004fef;
    --secondary-background: #ffffffad;
}

header {
    min-height: calc(5vh - var(--total-height));
    padding: 5px 0px;
    box-shadow: 0px 0px 2px 1px black, 0px 0px 3px -5px black;
    background-color: #4cf4ec;
    opacity: 1;
    background-image: linear-gradient(135deg, var(--background) 25%, transparent 25%), linear-gradient(225deg, var(--background) 25%, transparent 25%), linear-gradient(45deg, var(--background) 25%, transparent 25%), linear-gradient(315deg, var(--background) 25%, #4cf4ec 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;

    .head {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            font-size: 1.7rem;
            font-weight: 700;
            word-spacing: 5px;
            text-align: center;
            text-transform: capitalize;
            font-family: "Kode Mono", monospace;
        }
    }
}

#main {
    width: 100%;
    min-height: calc(var(--total-height) - 6vh);
    background-color: #f3eff9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23dbd1ec' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    padding: 2rem 0;

    & .one {
        margin-bottom: 10px;

        & .options {
            display: flex;
            gap: 5px;
            align-items: center;

            & #shift-amount {
                width: auto;
                padding: 5px 3px;
                outline: none;
            }
        }
    }

    & .options {
        width: 75%;
        margin: 0 auto 5px auto;

        & select {
            padding: 3px 3px;
            font-size: 1.2rem;
        }
    }

    & .box .container {
        width: 75%;
        height: 35vh;
        max-height: 35vh;
        margin: 0 auto;
        overflow-y: auto;
        background-color: var(--secondary-background);

        & textarea {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 1.2rem;
            letter-spacing: 1px;
            background-color: var(--secondary-background);
        }

        & #text {
            width: 100%;
            height: 100%;
        }
    }

    & .button {
        width: 75%;
        margin: 5px auto;

        & #btn {
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1.1rem;
            color: var(--color);
            border-radius: 5px;
            padding: 0.5rem 2rem;
            background-color: #00b7ff;
        }
    }
}